<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="postDao" class="com.share.doa.impl.PostDaoImpl"/>
    <bean id="categoryDao" class="com.share.doa.impl.CategotyDaoImpl"/>

    <bean id="postService" class="com.share.service.impl.PostServiceImpl">
        <property name="postDao" ref="postDao"/>
    </bean>
    <bean id="categoryService" class="com.share.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"/>
    </bean>

    <bean id="postController" class="com.share.controller.PostController">
        <property name="postService" ref="postService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="categoryController" class="com.share.controller.CategoryController">
        <property name="categoryService" ref="categoryService"/>
    </bean>

</beans>